<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="Layout/Layout">
<head>
        <meta charset="UTF-8">
        <title>Book Management System</title>

    </head>
    <body>
    




<div layout:fragment="content">


    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <h4 class="text-center"> Update Book Infomation</h4>
                <form action="#" th:action="'/update/'+${book.id}" th:object="${book}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="title" class="col-form-label" th:text="#{Title}"></label> <input type="text" th:field="*{title}" th:value="*{getTitle()}" class="form-control" id="title" placeholder="Title">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="author" class="col-form-label" th:text="#{Author}"></label> <input type="text" th:field="*{author}" class="form-control" id="author" placeholder="Author">
                        </div>
                        <div class="form-group col-md-8">
                            <label for="description" class="col-form-label" th:text="#{Description}"></label> <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description">
                        </div>

                        <div class="form-group col-md-8">
                                <label for="cate" class="col-form-label" th:text="#{Category}"></label>
                                <select th:field="${book.category.id}" class="browser-default custom-select" id="cate">
                                        <option
                                                th:each="cate:${categories}"
                                                th:value="${cate.getId()}"
                                                th:selected="${cate.getId() == book.getCategory().getId()}"
                                                th:text="${cate.getTitle()}">
                                        </option>
            
                                    </select>
                        </div>
                        <div class="form-group col-md-8" >

                            <div class="custom-file">
                                <input type="hidden"  th:value="*{getThumbnail()}" th:field="${book.thumbnail}">
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                       aria-describedby="inputGroupFileAddon01" name="file" style="display:none;">
                                <label class="custom-file-label" for="inputGroupFile01"  th:text="#{ChooseFile}"></label>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <a type="button" class="btn btn-default btn-rounded ml-3" th:href="@{/}"><i class="fas fa-angle-double-left"></i> <span th:text="#{GoBack}"​​​></span></a>
                            <input type="submit" class="btn btn-success" value="Update Book" >
                        </div>



                    </div>
                </form>
            </div>
        </div>
    </div>
</div>











</body>
</html>