<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="Layout/Layout">
<head>
        <meta charset="UTF-8">
        <title>Book Management System</title>

    </head>
    <body>
    




<div layout:fragment="content">
    <h3 class="text-center"​​ th:text="#{UpdateCategory}"> </h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form  th:action="'/category/update/'+${category.id}" th:object="${category}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="title" class="col-form-label" th:text="#{Title}"></label> <input type="text" th:field="*{title}"  class="form-control" id="title" placeholder="Title">
                        </div>


                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Update Category">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>








</body>
</html>